html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
}

#app {
  width: 100dvw;
  height: 100dvh;
}

.p5Canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}
